{{#partial "styles"}}
    <link rel="stylesheet" href="/css/animal-form.css">
    <link rel="stylesheet" href="/css/index.css">
{{/partial}}
{{#partial "content"}}
    <div class="container ">
        <div class="row">
                <div class="col-md-3">
                    {{#each sightings}}
                        <div class="card" style="  width: 20rem;">
                        <div class="card-body">
                            <h4 class="card-title">Animal: {{name}}</h4>
                            <h6 class="card-subtitle mb-2">Ranger Name: {{rangerName}}</h6>
                            <p class="card-text">Location: {{location}}</p>
                            <p class="card-text">Health: {{health}}</p>
                            <p class="card-text text-danger">Age: {{age}}</p>
                            <a href="#" class="card-link text-danger">Type: {{type}}</a>
                            <a href="#" class="card-link text-warning">Posted: {{lastSeen}}</a>
                        </div>
                    </div>
            {{/each}}

        </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}

